/*
div {
	background-color: black;
	color: white;
	width: 200px;
	height: 200px;
	position: relative;
	border-radius: 50px;
	padding: 30px;
	text-align: center;
	transition-duration: 2s;
	animation-name: divison;
	animation-fill-mode: forwards;
	animation-duration: 2s;
}

div:hover {
	background-color: red;
	border-radius: 100px;
}

@keyframes divison {
	0% {
		left: 0px;
	}
	50% {
		left: 500px;
	}
	100% {
		left: 0px;
	}
}*/

.style {
	font-size: 25px;
	font-style: italic;
	color: white;
}

body {

	background: black;
	border: 25px solid green;
	border-radius: 100px;
	margin: 0px;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 30px;
	padding-bottom: 30px;
}
